<div class="container-fluid mb-5">
    <div class="row justify-content-center mt-4">

        <div class="col-lg-8" *ngIf="game != true">

            <div class="card rounded-25">
                <div class="card-body">
                    <h1 class="text-center">Tablero</h1>
                    <div class="row mt-4 justify-content-center">
                        <ng-container *ngFor="let boardType of boardTypes">
                            <div class="col-3">
                                <div class="card rounded-25 bg-dark pointer" (click)="selectBoard(boardType)" [ngClass]=" {
                                        'bg-dark': board.type !=  boardType.id || board == 0,
                                        'bg-success': board.type == boardType.id
                                    }">
                                    <div class="card-body p-4">
                                        <h1 class="text-center text-light mt-1">
                                            <i class="fas fa-border-all fa-lg mr-2"></i> {{ boardType.text }}
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="card rounded-25 mt-4">
                <div class="card-body">
                    <h1 class="text-center">Cantidad de jugadores</h1>
                    <div class="row mt-4 justify-content-center">
                        <ng-container *ngFor="let playersQuantity of [2,3,4]">
                            <div class="col-4">
                                <div class="card rounded-25 pointer" (click)="selectPlayersQuantity(playersQuantity)" [ngClass]=" {
                                        'bg-dark': players.length != playersQuantity || players.length == 0,
                                        'bg-success': players.length == playersQuantity
                                    }">
                                    <div class="card-body p-4">
                                        <h1 class="text-center text-light mt-1">
                                            <i class="fas fa-user-check fa-lg mr-2"></i> {{ playersQuantity }}
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="card rounded-25 mt-4" *ngIf="players && players.length > 0">
                <div class="card-body">
                    <h1 class="text-center">Cantidad de jugadores</h1>

                    <div class="m-4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Color</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let player of players; let i=index">
                                    <tr>
                                        <td class="pt-3">{{ player.id }}</td>
                                        <td class="pt-3">
                                            <input type="text" class="form-control rounded-25" [(ngModel)]="player.name" required />
                                        </td>
                                        <td>
                                            <app-color-picker [players]="players" [color]="player.color" heading="Color" (event)="setColor(i, $event)">
                                            </app-color-picker>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex justify-content-center mb-4">
                        <div class="col-lg-6 col-sm-12">
                            <button class="btn btn-success btn-block btn-lg rounded-25" [disabled]="incompletePlayers()" (click)="start()">
                                <i class="fas fa-gamepad mr-2"></i> ¡Empezar a jugar!
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ******* -->
        <!-- TABLERO -->
        <!-- ******* -->

        <ng-container *ngIf="game">
            <div class="col-lg-8 col-md-12 col-sm-12">

                <div class="row mb-4">
                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <h1 class="text-light">Ronda {{ roundNumber }}</h1>
                    </div>
                </div>

                <!-- Terrenos -->
                <div class="row">

                    <!-- Terrenos -->
                    <ng-container *ngIf="!move">
                        <div [class]="['mb-4', board.col]" *ngFor="let boardLand of boardLands; let i = index">
                            <div class="card rounded-25" (click)="openLandModal(landModal, i)" [ngStyle]="boardLand.userId > 0 
                                && {'background-color': findPlayerById(boardLand.userId).color, 'color': '#fff'}" [class.pointer]="boardLand.userId == turnPlayer().id || boardLand.userId == 0">

                                <div class="card-body">
                                    <ng-container *ngIf="boardLand.warriors > 0">
                                        <img src="assets/img/helmet.png" style="width: 50px;" alt="Guerrero">
                                        <h1 class="float-right mr-1 mt-2">{{boardLand.warriors}}</h1>
                                    </ng-container>
                                    <ng-container *ngIf="boardLand.warriors == 0">
                                        <img src="assets/img/land.png" style="width: 50px;" alt="Terreno">
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <!-- Terrenos a donde desplazarse -->
                    <ng-container *ngIf="move">
                        <div [class]="['mb-4', board.col]" *ngFor="let boardLand of boardLands; let i = index">
                            <div class="card rounded-25" (click)="selectTerrainToMove(attackModal, i)" [ngStyle]="canMove(i) 
                                && {'background-color': turnPlayer().color, 'color': '#fff'}" [class.pointer]="canMove(i)">
                                <div class="card-body">
                                    <h1 class="text-center mt-1">
                                        <ng-container *ngIf="canMove(i) && boardLand.userId != 0 && boardLand.userId != turnPlayer().id">
                                            <img src="assets/img/attack.png" style="width: 50px;" alt="Atacar">
                                            <h1 class="float-right mr-1 mt-2">{{boardLand.warriors}}</h1>
                                        </ng-container>
                                        <ng-container *ngIf="!canMove(i) && boardLand.userId != 0 && boardLand.userId != turnPlayer().id">
                                            <img src="assets/img/castle.png" style="width: 50px;" alt="Atacar">
                                            <h1 class="float-right mr-1 mt-2">{{boardLand.warriors}}</h1>
                                        </ng-container>
                                        <ng-container *ngIf="boardLand.userId == turnPlayer().id">
                                            <img src="assets/img/person.png" style="width: 50px;" alt="Mover">
                                            <h1 class="float-right mr-1 mt-2">{{boardLand.warriors}}</h1>
                                        </ng-container>
                                        <ng-container *ngIf="canMove(i) && boardLand.userId == 0">
                                            <img src="assets/img/conquest.png" style="width: 50px;" alt="Conquistar">
                                        </ng-container>
                                        <ng-container *ngIf="!canMove(i) && boardLand.userId == 0">
                                            <img src="assets/img/land.png" style="width: 50px;" alt="Terreno">
                                        </ng-container>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>

            <!-- Jugadores -->
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="d-flex justify-content-center mb-4 bg-light rounded-25 pt-1">
                    Tiempo:
                    <h1 class="ml-4">{{ countdown }}</h1>
                </div>

                <div class="card rounded-25 mb-4" *ngFor="let player of players" [ngClass]=" {
                    'bg-light': gameStarted && player.id != turnPlayer().id,
                    'bg-dark text-light': gameStarted && player.id == turnPlayer().id 
                }">
                    <div class="card-body">
                        <p>
                            Nombre:
                            <span class="float-right">{{player.name}}</span>
                        </p>
                        <p>
                            Guerreros:
                            <span class="float-right">{{player.warriors}}</span>
                        </p>
                        <p>
                            Puntos:
                            <span class="float-right">{{player.points}}</span>
                        </p>

                        <div class="circle" [ngStyle]="{'background-color': player.color}"></div>
                    </div>
                </div>

                <button class="btn btn-success btn-block rounded-25" (click)="startGame()" *ngIf="!gameStarted">
                    Empezar
                </button>
                <button class="btn btn-success btn-block rounded-25" (click)="changeTurn()" *ngIf="gameStarted">
                    Siguiente turno
                </button>
            </div>

        </ng-container>
    </div>
</div>

<ng-template #landModal let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Tierra {{ sLand().id }}</h5>
        <button type="button" class="close" (click)="closeLandModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container *ngIf="sLand().userId > 0">
            <p>Propietario: {{ findPlayerById(sLand().userId).name }}</p>
            <p>Defensores: {{ sLand().warriors }}</p>
        </ng-container>

        <div class="mt-4" *ngIf="showButtons('add') && sLand().warriors == 0">
            <input name="warriors" type="number" [(ngModel)]="addWarriorsQuantity" min="1" max="{{this.turnPlayer().warriors}}" class="form-control rounded-25" placeholder="Añadir" (keyup.enter)="addWarriors()">

            <button class="btn btn-success rounded-25 btn-block mt-2" (click)="addWarriors()">
                Asignar {{ addWarriorsQuantity }}
            </button>
        </div>

        <div class="row justify-content-center" *ngIf="sLand().warriors > 0">
            <div class="col-lg-6">
                <div class="mt-4" *ngIf="showButtons('add')">
                    <input name="warriors" type="number" [(ngModel)]="addWarriorsQuantity" min="1" max="{{this.turnPlayer().warriors}}" class="form-control rounded-25" placeholder="Añadir" (keyup.enter)="addWarriors()">

                    <button class="btn btn-success rounded-25 btn-block mt-2" (click)="addWarriors()">
                        Asignar {{ addWarriorsQuantity }}
                    </button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mt-4" *ngIf="showButtons('move')">
                    <input name="warriors" type="number" [(ngModel)]="warriorsQuantity" min="1" max="{{this.sLand().warriors}}" class="form-control rounded-25" placeholder="Mover" (keyup.enter)="showMoveOptions()">

                    <button class="btn btn-secondary rounded-25 btn-block mt-2" (click)="showMoveOptions()">
                        Mover {{ warriorsQuantity }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- Resultado -->
<ng-template #attackModal let-close="close">
    <div class="modal-header">
        <h5 class="modal-title text-success" *ngIf="attackResult.win">Has ganado</h5>
        <h5 class="modal-title text-danger" *ngIf="!attackResult.win">Has perdido</h5>
        <button type="button" class="close" (click)="closeAttackModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Tropas</th>
                    <th>Tropas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ attackResult.attacker }}</td>
                    <td>{{ attackWarriors.sWarriors }}</td>
                    <td>{{ attackResult.sWarriors }}</td>
                </tr>
                <tr>
                    <td>{{ attackResult.defender }}</td>
                    <td>{{ attackWarriors.mWarriors }}</td>
                    <td>{{ attackResult.mWarriors }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>