<div class="container-fluid mb-5">
    <div class="row justify-content-center mt-4">

        <div class="col-lg-8" *ngIf="game != true">

            <div class="card rounded-25">
                <div class="card-body">
                    <h1 class="text-center">Tablero</h1>
                    <div class="row mt-4">
                        <ng-container *ngFor="let boardType of boardTypes">
                            <div class="col-2">
                                <div class="card rounded-25 bg-dark pointer" (click)="selectBoard(boardType)" [ngClass]=" {
                                        'bg-dark': board.type !=  boardType.id || board == 0,
                                        'bg-success': board.type == boardType.id
                                    }">
                                    <div class="card-body p-4">
                                        <h1 class="text-center text-light mt-1">
                                            <i class="fas fa-border-all fa-lg mr-2"></i> {{ boardType.text }}
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="card rounded-25 mt-4">
                <div class="card-body">
                    <h1 class="text-center">Cantidad de jugadores</h1>
                    <div class="row mt-4">
                        <ng-container *ngFor="let playersQuantity of [2,3,4,5]">
                            <div class="col-3">
                                <div class="card rounded-25 pointer" (click)="selectPlayersQuantity(playersQuantity)" [ngClass]=" {
                                        'bg-dark': players.length != playersQuantity || players.length == 0,
                                        'bg-success': players.length == playersQuantity
                                    }">
                                    <div class="card-body p-4">
                                        <h1 class="text-center text-light mt-1">
                                            <i class="fas fa-user-check fa-lg mr-2"></i> {{ playersQuantity }}
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="card rounded-25 mt-4" *ngIf="players && players.length > 0">
                <div class="card-body">
                    <h1 class="text-center">Cantidad de jugadores</h1>

                    <div class="m-4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Color</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let player of players; let i=index">
                                    <tr>
                                        <td class="pt-3">{{ player.id }}</td>
                                        <td class="pt-3">
                                            <input type="text" class="form-control rounded-25" [(ngModel)]="player.name" required />
                                        </td>
                                        <td>
                                            <app-color-picker [players]="players" [color]="player.color" heading="Color" (event)="setColor(i, $event)">
                                            </app-color-picker>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex justify-content-center mb-4">
                        <div class="col-lg-6 col-sm-12">
                            <button class="btn btn-success btn-block btn-lg rounded-25" [disabled]="incompletePlayers() == true" (click)="startGame()">
                                <i class="fas fa-gamepad mr-2"></i> ¡Empezar a jugar!
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ng-container *ngIf="game == true">
            <div class="col-lg-8">
                <div class="alert alert-secondary rounded-25 mb-4" role="alert">
                    <span *ngIf="gameStarted == false">Empieza a jugar</span>
                    <span *ngIf="gameStarted == true">Turno de {{ turnPlayer().name }}</span>
                </div>

                <div class="row">
                    <ng-container *ngFor="let boardLand of boardLands">
                        <div [class]="['mb-4', board.col]">
                            <div class="card rounded-25 pointer" (click)="openLandModal(landModal, boardLand)">
                                <div class="card-body">
                                    <h1 class="text-center mt-1">
                                        <ng-container *ngIf="boardLand.warriors > 0">
                                            {{boardLand.warriors}}
                                        </ng-container>
                                        <ng-container *ngIf="boardLand.warriors == 0">
                                            <i class="fas fa-globe-europe"></i>
                                        </ng-container>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>

            <div class="col-2">
                <div class="d-flex justify-content-center mb-4">
                    {{ countdown }}
                </div>

                <div class="card rounded-25 mb-4" *ngFor="let player of players" [ngClass]=" {
                    'bg-light': gameStarted == true && player.id != turnPlayer().id,
                    'bg-dark text-light': gameStarted == true && player.id == turnPlayer().id 
                }">
                    <div class="card-body">
                        <p>
                            Nombre:
                            <span class="float-right">{{player.name}}</span>
                        </p>
                        <p>
                            Guerreros:
                            <span class="float-right">{{player.warriors}}</span>
                        </p>
                        <p>
                            Puntos:
                            <span class="float-right">{{player.points}}</span>
                        </p>

                        <div class="circle" [ngStyle]="{'background-color': player.color}"></div>
                    </div>
                </div>

                <button class="btn btn-success btn-block rounded-25" (click)="startGame()" *ngIf="gameStarted == false">
                    Empezar
                </button>
                <button class="btn btn-success btn-block rounded-25" (click)="changeTurn()" *ngIf="gameStarted == true">
                    Siguiente turno
                </button>
            </div>

        </ng-container>
    </div>

    <ng-template #landModal let-close="close">
        <div class="modal-header">
            <h5 class="modal-title">Tierra {{ sLand.id }}</h5>
            <button type="button" class="close" (click)="closeLandModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ng-container *ngIf="sLand.userId > 0">
                <p>Propietario: {{ findPlayerById(sLand.userId).name }}</p>
                <p>Defensores: {{ sLand.warriors }}</p>
            </ng-container>

            <div class="d-flex justify-content-between">
                <button class="btn btn-success rounded-25" *ngIf="turnPlayer() && turnPlayer().warriors > 0" (click)="addWarriors(sLand.id)">
                    Asignar {{ turnPlayer().warriors }}
                </button>

                <button class="btn btn-secondary rounded-25" *ngIf="turnPlayer() && sLand.userId == turnPlayer().id && sLand.warriors > 0">
                    Mover {{ sLand.warriors }}
                </button>
            </div>
        </div>
    </ng-template>